.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 232, 232);
  min-height: 100vh;
  padding: 1rem;
}

.faqs {
  width: 50rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.6rem;
}
